CC_OLLAMA_HOST=http://127.0.0.1:11434
CC_OLLAMA_CHAT_MODEL=nemotron-mini:4b
CC_OLLAMA_EMBEDDER_MODEL=nomic-embed-text
CC_OLLAMA_EMIT_TOOL_PROTOCOL=1

BOT_TOKEN="7468573282:AAHXxnG-28SLuce-3pRPLiiuwZ3VxrpL1Zw"
INFORMER_CHAT_ID=@contest_bot_uchun_kanal

